/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    height: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
  }
  .nav-links a:hover {
    color: rgb(65, 95, 161);
  }
  
  .show-nav {
    height: 50vh;
    background-color: #fff;
    
  }
  .logo{
    position: relative;
    top:0;
  }
 #home{
   padding-top: 30px;
 }
 #about{
  padding-top: 50px;
}
#options{
  padding-top: 50px;
}
#faqs{
  padding-top: 50px;
}
  /* end of navbar */
.slide1 {
    height: 100vh;
    background-image: url(../images/tm.jpg);
    background-color: #333;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.slide1 h1{
  padding-top: 200px;
  text-align: center;
  padding-bottom: 30px;
}
.slide1 a{
  padding: 30px;
  border: 2px solid white;
  background-color: #333333;
  color: white;
  text-decoration: none;
  margin-top: 40px;
  cursor: pointer;
}
.slide3 {
    min-height: 100vh;
    /* background-image: url(../images/tm-logo.jpg); */
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 70px;
}
.image{
  /* float: left; */
  width: 50%;
  margin-top: 9%;
  padding: 20px;
  padding-left: 50px;
  z-index: 10;
}
.descr{
  float:right;
  width: 50%;
  padding: 30px;
  display: block;
  margin-top: 5%;
}
.ha2{
  text-align: center;
  padding-top: 70px;

}
.slide4 {
  min-height: 100vh;
  /* background-image: url(../images/tm-logo.jpg); */
  background-color: rgb(255, 255, 255);
  display: inline-block;
}
.slide4 p{
  float: left;
  width: 50%;
  padding: 30px;
  margin-top: 5%;
}
.slide4 .image {
  float: right;
  width: 50%;
  padding-right: 50px;
  margin-top: 5%;
}
@media screen and (min-width: 480px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
@media screen and (max-width: 1400px) {
  .slide3{
    height: 100vh;
  }
    .slide3 .image{
      width: 80%;
      margin: 0 auto;
      display: inline-block;
        }
    .slide4 .image{
      width: 80%;
      margin: 0 auto;
      display: inline-block;
      float: left;
    }
    .descr{
      float: left;
      margin-top: 5%;
      width: 80%;
    }
    .slide4 p{
      float: left;
      width: 80%;
    }
    .ha2{
      text-align:center;
      margin: 0 auto;
      padding: 20px;
      z-index: 100;
    }
}