/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    height: 40px;
    background-color: #f18002;
    z-index: 1;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-icon {
    font-size: 1.5rem;
    color: var(--primaryColor);
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    list-style-type: none;
  }
  .nav-links a {
    text-decoration: none;
    padding: 1rem 0;
    color: var(--mainBlack);
    transition: var(--mainTransition);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
  }
  .nav-links a:hover {
    color: rgb(65, 95, 161);
  }
  
  .show-nav {
    height: auto;
    background-color: #f18002;
    text-align: center;
  }
  .show-nav li{
    line-height: 30px;
    padding-bottom: 10px; 
  }
  .show-nav li:last-child{
    padding-bottom: 20px;
  }
  .logo{
    position: relative;
    top:0;
  }
  #home{
    padding-top: 50px;
  }
 #intro, #true-money-wallet, #how-true-money-works, #how-to-apply-2019, #spend-true-money, #true-money-padala, #FAQs {
   padding-top: 30px;
 }
  /* end of navbar */
.slide1 {
    height: 100vh;
    background-image: url(../images/money-hero.jpg);
    background-color: #333;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.welcome h1{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
  margin-bottom: 60px;
  font-size: 35px;
  line-height: 50px;
  color: black;
}
.welcome{
  width: 50%;
  height: 40%;
     margin: 0 auto;
     text-align: center;
     margin-top: 10%;
     
}
.welcome a{
  padding: 30px;
  border: 2px solid #f18002;
  color: white;
  text-decoration: none;
  margin-top: 50px;
  cursor: pointer;
}
.welcome a:hover{
  background-color: #f18002;
  transition: .2s ease-in-out;
}
.slide3 {
    min-height: 100vh;
    /* background-image: url(../images/tm-logo.jpg); */
    background-color: #f9f9f9;
    display: inline-block;
    
}
.image{
  /* float: left; */
  width: 40%;
  margin-top: 5%;
  z-index: 10;
}
.faqs{ 
  background-color: #f9f9f9;
}
.descr{
  float:right;
  width: 50%;
  padding: 10px;
  display: block;
  text-align: justify;
  margin-top: 2%;
}
.ha2{
  text-align: center;
  padding-top: 80px;

}
.slide4 {
  min-height: 100vh;
  /* background-image: url(../images/tm-logo.jpg); */
  background-color: #f9f9f9;
  display: inline-block;
}
.slide4 p{
  float: left;
  width: 50%;
  padding: 10px;
  display: block;
  text-align: justify;
  margin-top: 3%;
}
.slide4 .image {
  float: right;
  width: 40%;
  margin-top: 5%;
  z-index: 10;
}
.slide5 {
  min-height: 100vh;
  /* background-image: url(../images/tm-logo.jpg); */
  background-color: #f9f9f9;
  display: inline-block;
}
.slide5 p{
  float: left;
  width: 50%;
  padding: 10px;
  display: block;
  text-align: justify;
  margin-top: 3%;
}
.slide5 .image {
  float: right;
  width: 40%;
  margin-top: 0;
  z-index: 10;
}
.content{
  width: 80%;
  margin: 0 auto;
  clear: both;
}
.faqs{
  width: 70%;
  margin: 0 auto;
}
main{
  min-height: 100vh;
}
@media screen and (min-width: 1618px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    /* max-width: 1500px; */
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
    margin-bottom: 10px;
  }
  .navbar{
    height: 30px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 733px) {

  .welcome h1{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 60px;
    font-size: 25px;
    line-height: 32px;
    color: black;
  }
  .welcome{
    width: 70%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30%;
       
  }
  .welcome a{
    padding: 20px;
    border: 2px solid #f18002;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    cursor: pointer;
  }
}
.welcome a:hover{
  background-color: #f18002;
  transition: .2s ease-in-out;
}
@media screen and (max-width: 1000px) {
 
  .slide3{
    height: 100vh;
  }
  .image{
    min-width: 100%;
    margin: 0 auto;
    display: block;  

  }
    .slide3 .image{
      width: 90%;
      margin: 0 auto;
      display: inline-block;
        }
    .descr{
      float: left;
      margin-top: 5%;
      width: 90%;
    }
    .slide4 p{
      float: left;
      width: 90%;
    }
    .slide5 p{
      float: left;
      width: 90%;
    }
    .ha2{
      text-align:center;
      margin: 0 auto;
      padding: 40px;
      z-index: 100;
    }
    .content{
      width: 90%;
    }
}